h1,
h2,
h3 {
  color: rgba(23, 23, 22, 0.66);
  text-align: center;
}

.contenedor {

  width: 600px;
  height: 271px;
  margin: 54px auto;
  text-align: center;
  padding: 30px;
}

input {
  width: 100px;
}

.contenedorIn {
  width: 400px;
  text-align: center;
  display: inline-flex;
  margin: 30px auto;
}

.btn1 {
  background-color: rgba(218, 210, 210, 0.25);
  color: dimgray;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 190px;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid rgb(105, 105, 105);
  box-shadow: 0 10px rgb(105, 105, 105), 0 10px rgb(105, 105, 105);
  width: 80px;
  height: 80px;
  cursor: pointer;
  text-align: center;

}

.btn1:hover {
  background-color: rgba(111, 110, 110, 0.25);
  color: rgba(31, 31, 31, 0.351);
  margin-top: 1px;
  box-shadow: 0 5px rgb(105, 105, 105), 0 8px rgba(5, 5, 5, 0.171);

}

.btn2 {
  background-color: rgba(218, 210, 210, 0.25);
  color: dimgray;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid rgb(105, 105, 105);
  box-shadow: 0 10px rgb(105, 105, 105), 0 10px rgb(105, 105, 105);
  width: 80px;
  height: 80px;
  cursor: pointer;
  text-align: center;

}

.btn2:hover {
  background-color: rgba(111, 110, 110, 0.25);
  color: rgba(31, 31, 31, 0.351);
  margin-top: 1px;
  /*box-shadow: 0 5px rgb(105, 105, 105), 0 8px rgba(5, 5, 5, 0.171);*/

}

.container2 {
  width: 700px;
  height: 400px;
  margin-top: 30px;
  padding-top: 20px ;
  text-align: center;
  padding-left: 60px;

}
.board-row {
  display: flex;
  flex-wrap: wrap;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(23, 23, 22, 0.66);
  text-align: center;

}

.square {
  background-color: rgba(255, 255, 255, 0.181);
  float: left;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 15px;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid rgb(105, 105, 105);
  height: 80px;
  text-align: center;
  width: 90px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 10px rgb(105, 105, 105), 0 10px rgb(105, 105, 105);
}

.square:hover {
  background-color: rgba(218, 210, 210, 0.25);
  color: rgba(105, 105, 105, 0.284);
  margin-top: 0px;
  box-shadow: 0 5px rgb(105, 105, 105), 0 8px rgba(5, 5, 5, 0.171);

}

button.squarehighlight {
  float: left;
  font-size: 34px;
  font-weight: bold;
  text-transform: uppercase;
  height: 80px;
  margin: 15px;
  padding: 3px;
  border-radius: 10px;
  border: 2px solid rgba(30, 30, 30, 0.061);
  text-align: center;
  width: 94px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  background: rgba(39, 38, 38, 0.119);
}

.square:focus {
  outline: none;
}

.btns {
  width: 500px;
  height: 600px;
}


body {
  width: 100%;
  height: 100%;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://p1.pxfuel.com/preview/717/892/904/air-sky-cloud-background.jpg);

}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

